<html>
<head>
<link rel="stylesheet" href="http://www.runthescript.com/miles_app/style.css" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<title>MilesDash | {{ title }}</title>
<body>
  <div id="content">
    <span id="mainlogo">
      <a href="http://milesdash.herokuapp.com">MilesDash</a>
    </span>
    <span class="toplinks">
      <a href="http://milesdash.herokuapp.com">Totals</a>
      <a href="http://milesdash.herokuapp.com/goals">Goals</a>
    </span>
    <div class="border"></div>

    {% block content %}{% endblock %}

	<div class="border"></div>
      <div class="bottomlinks">
        <a href="https://github.com/erictempleton1/StravaProject">GitHub</a>
        <a href="https://twitter.com/etemple10">Twitter</a>
      </div>
  </div>
</body>
</html>