<html>
<head>
<link rel="stylesheet" href="http://www.runthescript.com/miles_app/style.css" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<title>MilesDash</title>
<body>
  <div id="content">
    <h3>
    MilesDash
    </h3>
    <div class="border"></div>

    {% if success %}
        <p>Thanks for your message.</p>
    {% else %}

    {% for message in form.name.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.subject.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.message.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}


    <h4>Contact</h4>
    <form action="{{ url_for('contact') }}" method=post>
        {{ form.hidden_tag() }}
        
        {{ form.name.label }}
        {{ form.name }}

        {{ form.email.label }}
        {{ form.email }}
 
        {{ form.subject.label }}
        {{ form.subject }}

        {{ form.message.label }}
        {{ form.message }}

        {{ form.submit }}
    </form>
    {% endif %}

    <div class="border"></div>
  </div>
</body>
</html>

