{% extends "base.html" %}
{% block content %}

    {% if success %}
        <div class="bodytext">
          Thanks for your message.
       </div>
    {% else %}

    {% for message in form.name.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.subject.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.message.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}


    <h4>Contact</h4>
    <form action="{{ url_for('contact') }}" method=post>
        {{ form.hidden_tag() }}
        
        {{ form.name.label }}
        {{ form.name }}
        <br>
        {{ form.email.label }}
        {{ form.email }}
        <br>
        {{ form.subject.label }}
        {{ form.subject }}
        <br>
        {{ form.message.label }}
        {{ form.message }}
        <br>
        {{ form.submit }}
    </form>
    {% endif %}

{% endblock %}

