{% extends "base.html" %}
{% block content %}

    {% if success %}
    <div class="bodytext">Weekly Goal:</div>
        <ul>
            {% for items in week_goals %}
                <li> {{ items }} </li>
            {% endfor %}
        </ul>
    {% else %}

    {% for message in form.goal.errors %}
       <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('form_test') }}" method="post">
        {{ form.hidden_tag() }}
        
        {{ form.goal.label }}
        {{ form.goal }}

        {{ form.submit }}
    </form>

{% endif %}
{% endblock %}